form#matchScoutForm {
    padding: 0;
}

form#matchScoutForm button {
    display: block;
    margin: 0 0 1% 10px;
    width: calc(100vw - 40px);
    height: 50px;
    font-size: 18pt;
    text-align: center;

}

div#matchLayout {
    border: 1px solid #000;
    width: 50vh;
    height: fit-content;
    padding: 0;
    margin-left: calc(50vw - 26.5vh);
}

div#matchLayout ul {
    list-style: none;
    padding: 0 5px;
}

div#matchLayout li {
    width: 100%;
}

div#matchLayout button {
    width: 100%;
    margin: 1% 0;
}

div#matchLayout input[type="checkbox"] {
    display: inline-block;
    margin: calc((50px - 25px) / 2) 0;
    margin-left: 2em;
    padding: 0;
    width: 25px;
    height: 25px;
}

div#matchLayout label {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: text-bottom;
    width: calc(100% - 2em - 25px); /* 100% - checkbox horizontal margin - checkbox width */
    color: black;
    font-size: 16pt;
    text-align: center;
}

ul#matchBottomButtons {
    list-style: none;
    padding-left: 0;
}

.input-hide {
    display: none !important;
}

.input-item {
    width: calc(100% - 5px); /* 100% - matchLayout ul left padding */
    height: 50px;
    display: block;
    background-color: rgb(var(--button-color-bg));
    font-weight: bold;
    border-color: rgb(var(--button-color-border));
    border-style: solid;
}

.input-item:active {
    background-color: rgba(var(--button-color-bg), 0.4);
    border-color: rgba(var(--button-color-border), 0.4);
    transform: translate(0, 2px);
}
