<form id="matchScoutForm" class="confirmable">
    <p>
        <button id="matchStealButton" class="scout-input toggle-visibility input-hide" type="button">Steal</button>
    </p>
    <div id="matchLayout">
        <ul>
            <li><button class="scout-input" type="button">Score</button></li>
            <li><button class="scout-input toggle-visibility input-hide" type="button">Move</button></li>
            <li>
                <div class="input-item toggle-visibility">
                    <input class="scout-input" type="checkbox" name="elevation-bar" value="yes"/>
                    <label>Touched Elevevation Bar</label>
                </div>
            </li>
            <li><hr></li>
            <li><button class="scout-input" type="button">Defend</button></li>
            <li><button class="scout-input" type="button">Pickup</button></li>
            <li><button class="scout-input" type="button">Launch</button></li>
        </ul>
    </div>
    <ul id="matchBottomButtons">
        <li><button id="matchStolenButton" class="scout-input toggle-visibility input-hide" type="button">Stolen</button></li>
        <li><button class="scout-input" type="button">Dropped</button></li>
        <li><button id="matchEndButton" type="button">End Auto</button></li>
    </ul>
</form>