<form id="postMatchForm" class="confirmable">
    <table>
        <tbody>
            <tr>
                <td><label>Did the team win?</label></td>
                <td><input name="iswin" type="checkbox" value="yes"/></td>
            </tr>
            <tr>
                <td><label>Height</label></td>
                <td><input id="postMatchHeightInput" name="height" type="range" value="0" style="appearance: slider-vertical;"></td>
                <td><span id="postMatchHeightOutput">Didn&#39;t climb</span></td>
            </tr>
        </tbody>
    </table>
    <label>Comments</label>
    <br>
    <textarea name="comments" rows="20" cols="40"></textarea>
    <br>
    <br>
    <button type="submit">Finish</button>
</form>