<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>UMBC Scouting | {% block title %}{% endblock %}</title>
        <style>
            {{ include_file("base.html.css") }}
        </style>
        {% block styles %}{% endblock %}
        <script>
            var NEXT_DESTINATION = null;

            /**
            * @param {HTMLFormElement} form
            * @param {string} name
            */
            function setValues(form, name) {
                const toParse = localStorage.getItem(name);
                if (toParse == null) return;
                const data = JSON.parse(toParse);
                if (data==null) return;

                for (const elm of form.querySelectorAll("input").values()) {
                    if (elm.type.toLowerCase() == "checkbox")
                        elm.checked = elm.name in data;
                    else if (elm.name in data)
                        elm.value = data[elm.name];
                }
                for (const elm of form.querySelectorAll("textarea").values())
                    if(elm.name in data)
                        elm.value = data[elm.name];
            }

            window.addEventListener("load", () => {
                const returnButton = document.getElementById("return-to-confirm");
                if (localStorage.getItem("reached_confirmation") == "true" && !location.pathname.startsWith("/scout/match/confirm")) {
                    returnButton.hidden = false;
                    returnButton.addEventListener("click", (e) => {
                        const form = document.querySelector("form.confirmable");
                        if (form == null) return;
                        e.preventDefault();

                        NEXT_DESTINATION = "/scout/match/confirm";
                        //cite: https://www.beflagrant.com/blog/til-how-to-properly-dispatch-a-submit-event
                        form.dispatchEvent(new Event("submit", {bubbles:true, cancelable:true}));
                    });
                }
            });
        </script>
        {% block scripts %}{% endblock %}
    </head>
    <body>
        {% block contents %}
        {% endblock %}
        <button id="return-to-confirm" onclick="" hidden>Resume Confirmation</button>
    </body>
</html>