<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>UMBC Scouting | {% block title %}{% endblock %}</title>
        <style>
            button#return-to-confirm {
                position: fixed;
                top: 0;
                right: 0;
            }
        </style>
        {% block styles %}{% endblock %}
        <script>
            /**
            * @param {HTMLFormElement} form
            * @param {string} name
            */
            function setValues(form, name) {
                const toParse = localStorage.getItem(name);
                if (toParse == null) return;
                const data = JSON.parse(toParse);
                if (data==null) return;

                for (const elm of form.querySelectorAll("input").values()) {
                    if (elm.type.toLowerCase() == "checkbox")
                        elm.checked = elm.name in data;
                    else if (elm.name in data)
                        elm.value = data[elm.name];
                }
                for (const elm of form.querySelectorAll("textarea").values())
                    if(elm.name in data)
                        elm.value = data[elm.name];
            }

            window.addEventListener("load", () => {
                const returnButton = document.getElementById("return-to-confirm");
                if (localStorage.getItem("reached_confirmation") == "true" && !location.pathname.startsWith("/scout/match/confirm")) {
                    returnButton.hidden = false;
                    returnButton.addEventListener("click", () => {
                        const form = document.querySelector("form");
                        if (form == null) return;
                        form.dispatchEvent(new CustomEvent('submit', {cancelable: true}));
                        location.href = "/scout/match/confirm";
                    });
                }
            });
        </script>
        {% block scripts %}{% endblock %}
    </head>
    <body>
        {% block contents %}
        {% endblock %}
        <button id="return-to-confirm" onclick="" hidden>Resume Confirmation</button>
    </body>
</html>