{% extends "base.html" %}

{% block title %}Confirm Submission{% endblock %}

{% block scripts %}
<script>
    localStorage.setItem("reached_confirmation", "true");

    /**
    * @param {HTMLFormElement} form
    */
    function setReadOnly(form) {
        for (const elm of form.querySelectorAll("input").values()) {
            if (elm.type == "submit")
                elm.style.display = "none";
            else
                elm.readOnly = elm.disabled = true;
        }
        for (const elm of form.querySelectorAll("textarea").values()) {
            elm.readOnly = elm.disabled = true;
        }
        for (const elm of form.querySelectorAll("button").values()) {
            if (elm.type == "submit")
                elm.style.display = "none";
        }
        form.onsubmit = (ev) => ev.preventDefault();
    }

    window.addEventListener("load", () => {
        const submitMatch = document.getElementById("submitMatch");
        const forms = [
            document.getElementById("preMatchForm"),
            document.getElementById("postMatchForm")
        ];
        const names = ["PRE_MATCH", "POST_MATCH"];

        //display 'robot' value for preMatchForm
        const PRE_MATCH = JSON.parse(localStorage.getItem("PRE_MATCH"));
        const robotLabel = document.createElement("input");
        robotLabel.id = "selectedRobot";
        robotLabel.value = `${PRE_MATCH.team}-${PRE_MATCH.robot}`;
        document.getElementById("robotRadios").appendChild(robotLabel);

        //display 'height' value for postMatchForm
        const POST_MATCH = JSON.parse(localStorage.getItem("POST_MATCH"));
        const postMatchHeightOutput = document.getElementById("postMatchHeightOutput");
        postMatchHeightOutput.innerText = ["Didn't climb","A","B","C","D","E","F","G","H","I","J"][Math.ceil(POST_MATCH["height"]/10)];

        for (let i = 0; i < forms.length; i++) {
            setReadOnly(forms[i]);
            setValues(forms[i], names[i]);
        }

        submitMatch.addEventListener("click", async (ev) => {
            if (ev.button != 0) return;

            const data = new FormData();
            data.append("PRE_MATCH", localStorage.getItem("PRE_MATCH") || "null");
            data.append("MATCH", localStorage.getItem("MATCH") || "null");
            data.append("POST_MATCH", localStorage.getItem("POST_MATCH") || "null");

            const r = await fetch("/scout/match/submit", {
                method: "POST",
                body: data
            });

            if (r.ok) {
                localStorage.removeItem("PRE_MATCH");
                localStorage.removeItem("MATCH");
                localStorage.removeItem("POST_MATCH");
                localStorage.removeItem("reached_confirmation");
                location.href = "/scout/match";
            }
        });
    });
</script>
{% endblock %}

{% block contents %}
<h1>Confirm Submission</h1>
<p>Please confirm your submission before sending.</p>

<h2>Pre-Match</h2>
{{ include_file("fragments/preMatchForm.html") }}

<p>
    <button id="editPreMatch" onclick="location.href = '/scout/match/';">Edit</button>
</p>

<h2>Post-Match</h2>
{{ include_file("fragments/postMatchForm.html") }}
<p>
    <button id="editPostMatch" onclick="location.href = '/scout/match/postmatch';">Edit</button>
</p>


<button id="submitMatch">Confirm Submission</button>
{% endblock %}